@import url('./reset.css');

body {
  background-color: var(--app-background-color);
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-white: #fff;
  --app-background-color: #181b2d;
  --app-time: #101219;
  --section-bg-color: rgba(50, 67, 75, 0.5);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.clock {
  color: var(--app-white);
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 63%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.center {
  display: grid;
  place-items: center;
}

.buttons {
  padding-top: 30px;
}

input[type=button], input[type=text] {
  color: var(--app-white);
  width: 125px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  font-size: 20px;
  padding: 5px 10px;
  transition: all 0.25s ease-in-out;
}

input[type=button] {
  background-color: var(--app-blue);
}

input[type=button]:hover {
  background-color: var(--app-blue-hover);
}

input[type=text] {
 background-color: var(--app-time);
 text-align: center;
}

.icon {
  padding-top: 23%;
  color: var(--app-white);
  size: 20px;
}