@import url('./reset.css');

body {
  background-color: var(--app-background-color);
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-white: #fff;
  --app-background-color: #181b2d;
  --app-time: #101219;
  --section-bg-color: rgba(50, 67, 75, 0.5);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.clock {
  color: var(--app-white);
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 67.5%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

.buttons {
  position: absolute;
  top: 60%;
  left: 71.5%;
  transform: translate(-50%, -50%);
}

input[type=button], input[type=text] {
  color: var(--app-white);
  width: 125px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
  font-size: 20px;
  padding: 5px 10px;
  transition: all 0.25s ease-in-out;
}

input[type=button] {
  background-color: var(--app-blue);
}

input[type=button]:hover {
  background-color: var(--app-blue-hover);
}

input[type=text] {
 background-color: var(--app-time);
 text-align: center;
}

.icon { 
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--app-white);
  size: 20px;
}

.output {
  display: grid;
  place-items: center;
}

p {
  margin-top: 26%;
  color: white;
  font-size: 20px;
  text-align: center;
}

.shake {
  animation: shake 2.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake {
  10%, 90% { translate: 1px 0; }
  20%, 80% { translate: 2px 0; }
  30%, 50%, 70% { translate: -4px 0; }
  40%, 60% { translate: 4px 0; }
}